services:
  monolito_api:
    image: s13-monolito_api:latest
    build:
      context: ..
      dockerfile: docker/dockerfiles/jdk21-distroless-mvn/Dockerfile
      args:
        SERVICE_NAME: api-monolito
        ENV_FILE: .env.properties
        PORT: 13000
    container_name: monolito_api
    ports:
      - "13000:13000"
    environment:
      POSTGRES_URL: jdbc:postgresql://monolito_db:5432/monolito
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      SERVER_PORT: 13000
      MONGO_URI: mongodb://admin:admin@mongo_db:27017/monolito?authSource=admin
      ALLOWED_ORIGIN: "*"
      SECRET: secret-0000000000000000000000000000
    depends_on:
      - monolito_db
      - mongo_db

  kurush_api:
    image: s13-kurush_api:latest
    container_name: kurush_api
    build:
      context: ../services/api-kurush
      dockerfile: src/main/docker/Dockerfile.jvm
    environment:
      QUARKUS_HTTP_PORT: "13500"
      QUARKUS_MONGODB_CONNECTION_STRING: "mongodb://admin:admin@mongo_db:27017/monolito?authSource=admin"
      QUARKUS_HTTP_CORS_ORIGINS: "*"
      QUARKUS_HTTP_CORS_METHODS: "GET,POST,PUT,DELETE,OPTIONS"
      QUARKUS_HTTP_CORS_HEADERS: "*"
      QUARKUS_HTTP_CORS_EXPOSED_HEADERS: "Content-Disposition"
    ports:
      - "13500:13500"

  watchtower:
    image: containrrr/watchtower:latest
    container_name: watchtower
    restart: unless-stopped
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    command: monolito_api
    environment:
      - WATCHTOWER_CLEANUP=true
      - WATCHTOWER_POLL_INTERVAL=7200
    depends_on:
      - monolito_api

  monolito_db:
    image: postgres:16
    container_name: monolito_db
    restart: always
    environment:
      POSTGRES_DB: monolito
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      PGDATA: /var/lib/postgresql/data/pgdata
    ports:
      - "5432:5432"
    volumes:
      - pg_data:/var/lib/postgresql/data

  mongo_db:
    image: mongo:latest
    container_name: mongo_db
    restart: always
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: admin
      MONGO_INITDB_DATABASE: monolito
    volumes:
      - mongo_data:/data/db

volumes:
  pg_data:
  mongo_data:
